*.announce
*.deps
*.jpg
*.la
*.lo
*.o
*.pc
*.sig
*.so
*.swp
*.3
*.7
*.log
*.trs
*.tar.xz
*~
*-test
.libs
.dirstamp
cscope.out
ctags
/wayland-scanner.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/depcomp
/ltmain.sh
/missing
/stamp-h1
/test-driver
Makefile
Makefile.in
exec-fd-leak-checker
fixed-benchmark
/wayland-scanner
